.pip::after{
    content: "- Zapamti ovo!!";
    color: red;
    background-color: yellow;
}
.pp::before{
    content: "Zapamti ovo-->";
    color: red;
    background-color: yellow;
}
.txt::first-letter{
    color: red;
    font-size: xx-large;
}
h1::first-letter{
    color: red;
    font-size: xx-large;
}
.fl::first-line{
    background-color: yellow;
}
.lotr::first-letter{
    color: red;
    font-size: xx-large;
}
.lotr::first-line{
    color: blue;
    font-variant: small-caps;
}
::marker{
    color: red;
    font-size: xx-large;
}