.pip::after{
    content: "- Zapamti ovo!!";
    color: red;
    background-color: yellow;
}
.pp::before{
    content: "Zapamti ovo-->";
    color: red;
    background-color: yellow;
}
.txt::first-letter{
    color: red;
    font-size: xx-large;
}